.form-control-lg {
    height: calc(2em + 1.25rem + 4px);
    padding: 0.525rem 1rem;
    font-size: 0.575rem;
    line-height: 2;
    border-radius: 3px;
}
iframe[Attributes Style] {display:none}
.rc-anchor-center-item {
    display: table-cell;
    vertical-align: middle;
max-width: 28.33333%;
}
}
.col-lg-4 {
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 28.33333%;
    }
.badge-primary {
    color: #fff;
    background-color: #cfad14;
}
.text-primary {
    color: #cfad14 !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #cfad14;
    background-color: #000000;
    border-color: #cfad14;
}
.nav-pills-01 .nav-link {
    color: #cfad14;
    position: relative;
}
.mys-wrapper, element.style, .ns-lkqmn-e-1, .ns-y2q16-v-11, .ns-y2q16-e-3, .ns-y2q16-v-11, .ns-y2q16-e-12, .ns-0hb8j-e-3, .ns-zfenv-e-3, .ns-jh6tz-e-1, .ns-yv9hq-v-6 .ns-yv9hq-e-3, .ns-yv9hq-v-6 .ns-yv9hq-e-10, .ns-lcazc-v-11 .ns-lcazc-e-3, .ns-lcazc-v-11, .ns-lcazc-e-12, .ns-c8ep8-e-2, .ns-c57n6-e-3 {min-height: 0px; display: none;background-image: none}
<ins class="adsbygoogle" style="display: none" data-ad-client="ca-pub-1348792180260118"
.form-control-lg {
    height: calc(2em + 1.25rem + 4px);
    padding: 0.625rem 1rem;
    font-size: 0.625rem;
    line-height: 2;
    border-radius: 3px;
}
body {
    font-size: 0.675rem;
    text-align: left;
}.mb-3, .my-3 {display:none}
<ins class="adsbygoogle" style=display:none
<div class="container">
<div class="container" id="paises">
style=display:none
.paises img {display:none}
.paises .themed-grid-col {display:none}
.text-muted {
    color: #fff !important;
}
.text-muted {display:none}
.lh-15 {
    line-height: 1.5 !important;
}
.fs-22 {
    font-size: 12px !important;
}.fs-16 {
    font-size: 12px !important;
}
.ns-tbind-e-1 {display:none}
element.style {
none;   
}
a {
    color: #f6b500;
    text-decoration: none;
    background-color: transparent;
}
.btn-primary {
    color: #fff;
    background-color: #cfad14;
    border-color: #cfad14;
    box-shadow: none;
}
#search-header button.btn {
    background: #cfad14;
    box-shadow: inset 0 0 10px #cfad14;
}
.head-sub {
    background: #cfad14;
}
.detalle-cnt input, .detalle-cnt textarea {
    border: 1px solid #6b6b6b;
}
.detalle-cnt {
    border: 1px dotted #fff;
    background: #ffffff;
}
.top-list h4 {
    font-size: 14px;
    color: #837e7e;
}
.top-list h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 7px;
text-shadow: 1px 1px 5px grey;
}
#breadcrumb li:last-child, #breadcrumb li:last-child a {
    cursor: default;
    color: #cfad14;
}
#afscontainer1 {
    min-height: 8px;
}
#afscontainer2 {
    min-height: 0px;
}
#afscontainer3 {
    min-height: 0px;
}
.items-list header h3 a {
    color: black;text-shadow: 1px 1px 5px grey;
}
.top-list a {
    font-size: 14px;
    line-height: normal;
}
a {
    color: #000000;
    text-decoration: none;
    line-height: inherit;
}
.top-list {
    border-bottom: 1px dotted #ccc;
    padding: 1px 0 1px;
    margin: 0 0 1px;
}
 .top-list h1 span {
    color: black;
}
.btn-red {
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 5px;
    filter: drop-shadow(1px 1px 5px #979A9A);
    background: #cfad14;
    box-shadow: inset 0 0 10px #979A9A;
    height: 30px;
    font-weight: bold;
    color:#000000;
}
#mainFooter
{display:none}
#footer-top
{display:none}
a.pag-nav{font-weight:bold;color:#cfad14;padding:0 5px}
a.pag-nav:hover{text-decoration:underline;color:#cfad14;}
.paginator li a.active{color:#cfad14;cursor:default;background-image:-ms-linear-gradient(top, #ddd 0%, #fff 100%);background-image:-moz-linear-gradient(top, #ddd 0%, #fff 100%);background-image:-o-linear-gradient(top, #ddd 0%, #fff 100%);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #ddd), color-stop(1, #fff));background-image:-webkit-linear-gradient(top, #ddd 0%, #fff 100%);background-image:linear-gradient(to bottom, #ddd 0%, #fff 100%);}
.paginator{margin-bottom:15px}
.paginator li a{width:25px;margin:0 2px;}
img:hover {
  box-shadow: 0 0 5px 4px #979A9A;
}
img {border-radius: 5px;}
h1   {text-align: center;color: black;filter: drop-shadow(1px 1px 5px #979A9A);
  border: px solid #;
  border-radius: 3px;
  padding: 4px;background-color: #cfad14;font-family: Helvetica;border: 2px solid #cfad14;border-radius: 3px;padding: 4px;}
h3   {text-align: center;color: #f4f4f4;filter: drop-shadow(1px 1px 5px #979A9A);
  border: px solid #;
  border-radius: 3px;
  padding: 5px;background-color: #cfad14;font-family: Helvetica;border: 2px solid #cfad14;border-radius: 3px;padding: 5px;}
h4 {color: #white;font-family: Helvetica;}
p    {color: #Gray;filter: drop-shadow(1px 1px 5px #979A9A);
  border: px solid #;
  border-radius: 3px;background-color: white
 ;padding: 5px;}
.items-list footer span {
    display: block;
    color: #DC0A0A;
    font-size: 17px;
    text-align: left;
